# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
coverage

# package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# auto dirs
build
node_modules

# production
build

# misc
.env

